<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/*      #map {
        height: 100%;
      }*/

#map{
width:100%;
height:500px !important;
}

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
<br>
    <h1 class="text-center"> Dublin Bikes Information </h1>
  

  <div class="container">
  <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Location</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Time</label>
      <select id="inputTime" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Date</label>
      <select id="inputDate" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>

    <div style= "border-radius: 10px" class="mx-auto" id="map" ></div>

</div>  


    <script>

       var locations = [
      ['BLESSINGTON STREET', 53.35676900, -6.26814000, 4],
      ['BOLTON STREET', 53.35118200, -6.26985900, 5],
      ['GREEK STREET', 53.34687400, -6.27297600, 3],
      ['CHARLEMONT PLACE', 53.33066200, 153.33066200, 2],
      ['CHRISTCHURCH PLACE', 53.34336800, -6.27012000, 1]
    ]; 

    var locations = [];

    stations = "{{ stations }}";
    

    console.log(locations);

      function initMap() {
        var myLatLng = {lat: 53.35676900, lng: -6.26814000};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: myLatLng

        }); 

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));



        };
      } 
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=PUTYOURKEYHERE!!!&callback=initMap">
    </script>
  </body>
</html>