/* #map {
    width: 100%;
    height: 500px !important;
} */

/* Optional: Makes the sample page fill the window. */

:root {
    --lightBorder: rgba(120, 130, 134, 0.5);
    --font32: 32px;
    --mainGrey: rgb(120, 130, 134);
    --mainGreyDark: rgb(61, 66, 68);
    --mainBlue: #3CA0CC;
    --veryLight: rgba(231, 231, 231, 0.575);
}



html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;

}

html { 
    font-size: 62.5%;
}

body {
    position: relative;
}

input:focus, textarea { outline: none ! important; }

input::placeholder {
    color: var(--lightBorder);
}

input:focus { color: var(--mainGrey);
 }

header {
    display: flex;
    height: 9rem;
    width: 100%;
    border-bottom: 1px solid var(--lightBorder);
    -webkit-box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
    box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
 
    
}
.search-container {
    text-align: center;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container-inner{
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#svgimage g {
    fill: var(--lightBorder);
    height: 10rem;
}

.inlinepara {
    font-style: italic;
    color: var(--mainBlue);
}
.section1 {
    text-align: center;
}

#svgimage{
    height: 4rem;
    width: 4rem;
}

.svg-container {
    display: inline-block;
    margin-right: 1rem;
  
}
.select-container {
    display: inline-block;
    border-radius: 20px;
    transition: all .2s;
    border: 1px solid var(--mainGrey);
    width: calc(50% - 1rem);
    text-align-last: center;
    
}

.first-select {
    margin-right: 1rem;
}

.select-container:focus {
    outline: none !important;
}

.select-container select {
    background: transparent;
    -webkit-appearance: button;
    padding: 0 1rem;
    outline: none;
    height: 4rem;
    border: none;
    font-size: 16px;
   
    
}
.select-container:hover{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    

}



.pac-icon {
    display: none;

}

.pac-item-query {
    color: var(--mainBlue);
    font-size: 1.5rem;
}

.pac-item {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.search-station-container {
    height: 100%;
    padding: 1rem;
    width: 39rem;

}

.search-station-input {
    
    height: 100%;
    font-size: 18px;
    border: none;
    color: var(--mainGrey);
    width: 100%;
    
}

#logo {
    height: 30rem;
    width: 30rem;
}

@media screen and  (max-width: 1200px){
    #logo {
        height: 25rem;
        width: 25rem;
    }
}

.greentext {
    color: rgb(77, 175, 64);
}

.bluetext {
    color: var(--mainBlue);
}
.header-col {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: white;
}

.logo {
    width: 36rem;
}

.header-col:not(:first-child){
    border-left: 1px solid var(--lightBorder);
}

select {
     
     border: none;
     padding: 1rem;
}


.larger {
    width: 45rem;
}


@media screen and (max-width: 1000px){
    .larger {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .weather {
        display: none;
    }
}





#grad1 {
    background-image: linear-gradient(to right, grey, Lightgrey, green, lime);}
#grad2 {
    background-image: linear-gradient(to right, green, lime, grey, lightgrey);}

.slidecontainer {
    width: 100%;}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px; 
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;}

.slider:hover {            
    opacity: 1;}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    /* background: #4CAF50; */
    background:red;
    cursor: pointer;}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;}    

/*#stationmap{
    display:flex;}

#maponly{
    display:block;} */

.station{
    border: 2px solid black; 
    border-radius: 12px;
    height:450px;
    padding-left: 10px;}

/* Always set the map height explicitly to define the size of the div element that contains the map. */

#map {
    height: calc(100vh - 90px);
}


 #map2{
    border: 2px solid black; 
    border-radius: 12px;
    width:100%;
    height:450px;}


.markertag {
    font-size: 16px;
    font-weight: 300;
    
}



i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);}



/* create an arrow that points right */

    


.footer{
    text-align: right;
    width: 100%;
    height: 40px;
    padding-right: 10px;
}

 /* 
 
 This is for making the slide in larger
 */

#slide-in {
    transition: all .3s ease-in;
  
}

#main-info {
    width: 100% !important;
}

.main-section {
    height: 90vh;
    width: 100%;


}
.map-container {
    width: 100%;
    height: 100%;
}

.slide-in-menu {
    width: 48rem;
    height: 90%;
    background: white;
    left: 0;
    top: 50%;
    transform: translate(-95%, -50%);
    transition: transform .3s ease-out;
    -webkit-box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.76);
}

button.gm-ui-hover-effect {
    display: none !important;
}

p, label {
    font-size: 1.8rem;
}

.button-section {
    position: relative;
    height: 2rem;
}

.button-section .down-button {
    cursor: default;
    left: 50%;
    transform: translateY(-2rem) translateX(-50%) rotate(270deg);
} 


label:focus {
    outline:0;
}
.slide-rel {
    height: 100%;
    width: 100%;
    padding: 4rem 4rem;
    color: var(--mainGreyDark);
    
}

#dayspan {
    color: var(--mainBlue);
    font-size: 2.4rem;
}

.chart-div {
    width: 100%;

    margin-top: 2rem;
 
}

.typical-header {
    font-size: 2.4rem;
    margin-top: 6rem;
}
.information-sections {
    height: 45rem;
    overflow: scroll;
    padding: 0 3rem;
}

.slide-rel__inner {
    height: 100%;
    margin: 0 auto;
    
}

.weather {
    padding: 0 3rem;
}

@media screen and (max-width: 1200px){
    .weather {
        padding: 0 1rem;
    }
}
.weather-container {
    /* border: 1px solid black; */
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dater {
    text-align: center;
}

#temperature {
    font-size: 3.5rem;
}
.day_time {
    margin-bottom: 0;
    color: var(--mainBlue);
    font-size: 2rem;
   
}

.day_time .day {
    font-size: 2rem;
}
.svg-weather {
    height: 70px;
    width: 70px;
    fill: var(--mainBlue) !important;
}

.station-title, .current-title {
    text-align: center;
    font-size: var(--font32);
    padding-bottom: 1rem;
    color: var(--mainGreyDark);
}

.section2 {
    margin-top: 4rem;
    
}

.selects {
    text-align: center;
    margin-bottom: 1rem;
}

.current-title {
    font-size: 28px;
}

.subtitle-line.current {
    background: var(--lightBorder);
    width: 50%;
    margin: 0 auto 2rem auto;

}

.subtitle-line {
    height: 1px;
    width: 100%;
    background: var(--lightBorder);
    margin-bottom: 2rem;
}



.minimiser, .down-button {
    height: 60px;
    width: 40px;
    background: white;
    border: 0;
    right: -40px;
    top: 0;
    outline: none;
}

#arrow {
    height: 5rem;
    width: 5rem;
    margin-left: -1.3rem;
    opacity: 0.5;
    fill: var(--mainGreyDark);
    transition: opacity .3s ease-out;
}

.minimiser #arrow:hover {
    opacity: 1;
}



button:focus {outline:0;}

.menu-active .slide-in-menu {
    transform: translate(0, -50%);
}

.menu-active #arrow {
    transform: rotate(180deg);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#stationform {
    height: 100%;
}

label:focus {
    outline: none ! important;
}

